@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --cor-nintendo: '#E60012';
    --cor-nintendo-escuro: '#B3000F';
    --fonte-principal: 'Source Sans Pro', sans-serif;
}

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

body {
    margin-bottom: ;
}



header {
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    padding: 1.2%;
    display: flex;
    grid-template-columns: 250px 500px 600px;
    justify-content: left;
    align-items: center;
    gap: 2vw;
    padding-left: 10vw;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

header a:hover {
    color: rgb(255, 0, 0);
}

.logo {
    height: 60px;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    left: 10vw;
}

.menu>a {
    font-family: var(--fonte-principal);
    font-variant: small-caps;
    font-weight: normal;
    font-size: 1.2em;
    color: white;
    margin: 16px;
    border-radius: 3px;
}


.search-box {
    right: 15vw;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 28px;
    height: 50px;
    margin-left: 20vw;
    background-color: white;
    border-radius: 28px;

}

.search-button>img {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    background: red;
    padding: 13px;
    border-radius: 28px;
    border: 2px solid white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.116);
}

.search-text {

    color: black;
    background: white;
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    padding-left: 20px;
    border-radius: 28px;
    font-size: 1em;
    transition: 0.4s;
    font-family: var(--fonte-principal);
}

input::placeholder {
    color: black;
    font-weight: 500;
    font-size: 0.9em;
}

.corpo-esquerda {
    display: flex;
    flex: 0.8;
    flex-direction: column;
}

.corpo-esquerda img:hover  {
    scale: 1.03;
    transition: 0.4s;
    filter: saturate(115%) contrast(105%);
}
.corpo-esquerda img  {
    transition: 0.3s;
}

.titulo-exclusivos,
.titulo-multi {
    font-size: 1.05em;
    font-family: var(--fonte-principal);
    font-variant: small-caps;
    font-weight: bolder;
    background-color: red;
    width: 57.6vw;
    color: white;
    margin: 2vh 0vw 2vh 0vw;
    padding: 2px;
    text-indent: 8px;
    border-radius: 3px;

}

.titulo-multi {
    margin-top: 7vh;
}



.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
    align-items: flex-start;
    margin-right: 0vw;
}

.container>img {
    max-width: 280px;
    max-height: 280px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.055);
}

.conteudo {
    display: flex;
    width: 80vw;
    margin: auto;
    padding-top: 12.3vh;
}



.menu-lateral {
    color: white;
    background-color: #E60012;
    /* width: 15vw; */
    margin-top: 2vh;
    margin: 2vh 0vw 0vh 0vw;
    border-radius: 6px;
    flex-direction: column;
    text-align: center;
    flex: 0.15;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
}


footer {
    background-color: red;
    color: white;
    font-family: var(--fonte-principal);
    padding: 0.05vh;
    margin-top: 10vh;
    text-align: center;
}

.notas-metacritic {
    width: 55%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    /* background-color: #F7ECA2; */
    /* border: white solid 3px; */
}

.mustplay-images>img {
    width: 85%;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
    margin: 6px;
    transition: 0.2s;
}

.mustplay-images> img:hover  {
    scale: 1.05;
    transition: 0.3s;
    filter: saturate(130%) contrast(105%);
    z-index: 1;
}

#metacritic-logo {
    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.26));
}

@media(max-width: 1000px) {
    .conteudo {
        width: 90vw;
    }

    .corpo-esquerda {
        width: 20vw;
    }
   .menu-lateral {
    flex: 0.3;
   }
}