@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --cor-nintendo: '#E60012';
    --cor-nintendo-escuro: '#B3000F';
    --fonte-principal: 'Source Sans Pro', sans-serif;
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

header {
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 50px;
}

a {
    text-decoration: none;
}

.menu{
    display: flex;
}


.search-box  {
    display: flex;
    align-items: center;
    border-radius: 28px;
    height: 50px;
    transition-duration: 1s;
}

.search-button > img {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    background: red;
    padding: 13px;
    border-radius: 28px;
    border: 2px solid white;
}

.search-text {
    color: black;
    background: none;
    border: none;
    outline: none;
    width: 0px;
    height: 0px;
    border-radius: 28px;
    font-size: 1em;
    padding: 0px;
    transition: 0.4s;
    font-family: var(--fonte-principal);
}

input::placeholder {
    color: black;
    font-variant: small-caps;
}

.search-box:hover > .search-text {
    width: 250px;
    height: 30px;
    padding-left: 20px;
}

.search-box:hover {
    background-color: white;
    border-radius: 28px;
}

.search-button > img:hover {
    background-color: rgb(209, 1, 1);
    transition: 0.2s;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.116);
}

main {
    margin: auto;
    width: 90vw;
}

.container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 180px;
    grid-auto-rows: 300px;
    gap: 10px;
    row-gap: 30px;
    margin: 0 auto;
    align-items: left;
    justify-content: left;
}

.container > img {
    max-width: 250px;
    max-height: 250px;
}

aside > img {
    max-width: 180px;
}

.lateral {
    grid-column: 5;
    grid-row: 1;
}

main {
    background-color: red;
}

.lista {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.lista > img {
    width: 250px;
}

.menu {
    width: 40%;
}