@charset "UTF-8";

:root {
    --cor-nintendo: '#E60012'
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {

    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 10%;
}

a {
    text-decoration: none;
}

.menu{
    display: flex;
}


.search-box  {
    border-radius: 50px;
    /*width: 250px;
    height: 40px;*/
    padding: 5px;
    margin-right: 15vw;
    /*display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;*/
    top: 30px;
}

.search-button > img {
    height: 18px;
    width: 18px;
    background: #dfdfdf;
    padding: 10px;
    border-radius: 90px;
    border: 1px solid #d6d6d6;
    display: flex;
    justify-content: center;
}

.search-text {
    color: white;
    background: none;
    border: none;
    outline: none;
    width: 0px;
    height: 0px;
    border-radius: 28px;
    font-size: 16px;
    padding: 0px;
}

input::placeholder {
    color: white;
}

.search-box:hover {
    background-color: ;
    width: 250px;
    height: 40px;
    *display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}